<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<h3>Sign up</h3>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class ="form-row">
      <div class="form-group col-md-6">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" , :class => "form-control", type: "text"%>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder: "name@example.com", class: "form-control", id: "exampleInputEmail1"%>
      </div>
  </div>

  <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" , :class => "form-control"%>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" , :class => "form-control"%>
      </div>
  </div>

  <div class="form-row">
     <div class="form-group col-md-6">
      <%= f.label :type%>
      <%= f.select(:type, [["- Select -", :disabled => true] ,"Recipient", "Provider"], {:selected => "- Select -"}, {:class => "form-control"} )%>
    </div>
  </div>
  
  <div class=form-row>
      <%= f.submit "Sign up" , :class => "btn btn-primary"%>
  </div>

  <div class="form-row">
  <small>Already have an account? <%= render "devise/shared/links" %></small>
  </div>

<% end %>
