<%= form_with( model: @request , local: true) do |f| %>
    <div class="form-row">
        <div class="col-md-8">
            <%= f.label :title %>
            <%= f.text_field :title, autofocus: true, autocomplete: "title" , :class => "form-control"%>
        </div>
        <div class="col-md-4">
            <%= f.label "Request Type" %>
            <%= f.select(:req_type, options_for_select(["support", "trade"]), {:prompt => "Select"}, {:class => "form-control"}) %>
        </div>
    </div>
        <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, autofocus: true, autocomplete: "description", :class=>"form-control", :rows=>5 %>
        </div>

        <div class="form-row" id="btns">
            <%= link_to "Cancel", :back, class: "btn btn-secondary"%>
            <%= f.submit "Submit", :class => "btn btn-primary", :id=>"request-submit"%>
        </div>
<% end %>