<h1>My Requests</h1>
<% @requests.each do |request| %>
    <h5>Title: <%= link_to request.title, request_path(request) %></h5>
    <p>Description: <%= request.description %></p>
    <p>Type of request: <%= request.req_type %></p>
    <a href="<%= edit_request_path(request) %>" >
           <em class="">Edit Request</em>
          </a>
          <a data-confirm="Are you sure you want to delete <%= request.title %>?" data-method="delete" href="/requests/<%= request.id %>" rel="nofollow"><i class="large material-icons">Delete Request</i>
         </a>
<% end %>