<div class="container" id="sponsorships">
    <h1 class="display">My Sponsorships</h1>
    <div class="row">
    <% @sponsorships.each do |sponsorship| %>
        <div class="col-md-3">
           <div class="card-deck">
            <div class="card mb-3" style="max-width: 16rem;">
                <div class="card-header bg-transparent"><h5>Type: <%= sponsorship.request.req_type.capitalize %></h5></div>
                <div class="card-body">
                    <h5 class="card-title"><%= sponsorship.request.title.capitalize%></h5>
                    <p class="card-text"><%= sponsorship.request.description.capitalize %><br/>
                    <small id="read"><%= link_to "Read details...", request_path(sponsorship.request) %></small> </p>
                    <a data-confirm="Are you sure you want to to cancel the sponsorship of this request?" data-method="delete" href="/sponsorships/<%=sponsorship.id%>" class="btn btn-danger"> Cancel </a>
                </div>
            </div>
        </div>
        </div>
    <% end %>
    </div>
</div>